/* general */
html, body, .dash-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dash-container .row, 
.dash-container .col {
  padding: 0.3rem;
}

/* header */
.dashboard-header {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* dropdowns */
.Select-control {
  min-height: 48px !important;
  height: 48px !important;
  font-size: 18px;
  font-family: inherit;
  padding: 6px 12px;
  box-sizing: border-box;
}

.tab-parent .tab {
  font-size: 18px !important;
}

/* content */
.tab-content-container {
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 2rem;
}

.graph-row {
  justify-content: space-between;
  min-height: 400px;
  width: 100%;
}

.graph-row .dash-graph {
  height: 100% !important;
  min-width: 0;
}