# macOS system files
.DS_Store

# Python cache
**/__pycache__/

# R history and workspace files
.Rhistory
docs/.Rhistory
docs/.RData

# Project data folder
Data/**

notebook/eda_conveyer_belt.nbconvert.ipynb
.idea/
cv_metrics.csv

*.log
