.DS_Store

# Python cache
**/__pycache__/
*.pyc

# Logs
*.log
*.gz

# R history and workspace files
.Rhistory
.RData
docs/.Rhistory
docs/.RData

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Metadata and IDE configurations
.idea/

# Dataset directory exclusions
# Exclude large data files but keep essential metadata or configuration files
data/voltage/
data/raw_voltage/
data/processed/*.csv         # Exclude processed datasets (if reproducible)
data/processed/*.xlsx        # Exclude intermediate Excel files

Data/processed/*.csv

!data/rar_files/
!data/rar_files/**

# Dashboard assets
dashboard/src/assets/*.css.map

# Misc output files
notebooks/eda_conveyer_belt.nbconvert.ipynb

# Temporary/backup files
*.tmp
*.bak
*.swp

# Ignore individual old or unnecessary files if needed (cleaning up)
8#Belt Conveyer_PolyRidgeDegree2_cv_metrics.csv
8#Belt Conveyer_Ridge_cv_metrics.csv